__pycache__/
build/
output/

fasthash.so
lemmatize.c
lemmatize.so

pysuc.c
pyudt_en.c
pyudt_suc_sv.c
suc.so

swe-pipeline
swe-pipeline.tar.gz

udt_en
udt_en.c
udt_en.so
udt-en.bin
udt_suc_sv
udt_suc_sv.c
udt_suc_sv.so
